.cart {
    padding-top: 120px;
    padding-bottom: 50px;
    min-height: 100vh;

    &__title {
        font-size: 36px;
        color: #fff;
        text-align: center;
        font-weight: 300;
        margin-bottom: 10px;
    }
    &__list {
        width: 60%;
        margin: 0 auto;
        
    }
    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        border: 1px solid rgba(256,256,256, .2);
        background-color: rgba(0,0,0,.7);
        box-shadow: 0 0 20px rgba(256,256,256, .1);

        &-w {
            padding-top: 5px;
            color: #eeee;
            display: block;
            font-size: 16px;
            font-weight: 300;
        }
        &-title, &-price  {
            width: 250px;
            text-align: center;
            color: #fff;
            font-size: 18px;
            margin: 10px;
        }
        &-price {
            font-size: 24px;
            margin: 0;
        }
        &-img {
            display: block;
            width: 100%;
            max-width: 250px;
            height: 20vh;
            object-fit: cover;
        }
        &-amount {
            font-size: 25px;
            margin: 10px;
            color: #fff;
        }

        &-btn {
            display: flex;
            justify-content: center;
        }
    }
    &__close {
        position: absolute;
        width: 25px;
        height: 25px;
        text-align: center;
        top: -10px;
        right: -10px;
        color: #fff;
        font-size: 20px;
        border-radius: 100%;
        border: 1px solid #fff;
        cursor: pointer;
    }

    &__btn {
        cursor: pointer;
        font-size: 25px;
        color: #fff;
        border: none;
        background-color: transparent;
    }

}

.btn {
    margin: 0;
    padding: 5px;
        }

.btn:nth-child(1) {
    margin-right: 5px;
}

.order__btn {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 17px 0;
    margin: 50px auto;
    height: 60px;
    width: 250px;
    font-size: 20px;
    font-weight: 700;    
}



@media screen and (max-width: 776px) {
    .cart {
        &__item {
            display: inline-block;
            padding: 10px;
            margin: 10px;

            &-img {
                margin-bottom: 10px;
            }
        }

        &__list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 90vw;
        }
    }
}