.app {
  background-image: url('./food-bg-min.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: top;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}
