.menu {
    &__list {
        list-style: none;
        min-height: 100vh;
        padding: 120px 50px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}