.menu {
    &__link {
        text-decoration: none;
        color: #333;
    }
    &__item {
        text-decoration: none;
        width: 350px;
        min-height: 400px;
        background-color: #fff;
        box-shadow: 5px 5px 45px rgba(256,256,256,.1);
        border-radius: 8px;
        padding: 20px;
        margin-right: 40px;
        margin-bottom: 40px;
        transition: all 0.3s linear;
    }

    &__item:hover {
        transform: scale(1.1);
    }

    &__title {
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
    }
    &__img {
        width: calc(100% + 40px);
        transform: translateX(-20px);
        height: 240px;
        object-fit: cover;
        margin-bottom: 20px;
    }
    &__category, &__price {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
        span {
            font-weight: 300;
            text-transform: uppercase;
        }
    }
    &__btn {
        width: 150px;
        height: 40px;
        border: none;
        background-color: #29a745;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            background-color: #237736;
        }
        &:disabled{
            background-color: grey;
        }
    }

}
@media screen and (max-width: 998px) {
    .menu__item:hover {
        transform: none;
    }
}

@media screen and (max-width: 869px) {
    .menu__item {
        margin-right: 0;
    }
}